body {
  background-image: url(/starter-code/assets/destination/background-destination-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.destination-figure {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.destination-figure header {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.destination-figure-caption .heading-2 {
  margin-bottom: -1.2rem;
}
.heading-5--crew {
  color: #ffffff;
  opacity: 0.49512592;
  font-weight: 400;
}
.heading-destination {
  font-family: "Barlow-Condensed";
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  text-align: center;
}
.heading-destination span {
  font-weight: 700;
  letter-spacing: 2.7px;
  margin-right: 1rem;
  opacity: 0.25;
}
.article-img-container {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.article-img-container::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #383b4b;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -200%);
}
.destination-img {
  display: inline-block;
  width: 69%;
  margin: 0 auto;
}
.full-width-img {
  width: 100vw;
}
.article-nav {
  width: fit-content;
  margin: 0 auto;
}
.article-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}
.article-nav-link:link,
.article-nav-link:visited {
  display: inline-block;
  font-family: "Barlow-Condensed";
  color: #d0d6f9;
  text-decoration: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.23625rem;
  position: relative;
  z-index: 0;
}
.article-nav-link.active {
  color: #ffff;
}
.article-nav-link.active::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 3.753rem;
  height: 0.163rem;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
}
.destination-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  padding: 3.2rem 0;
}
.destination-details::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #383b4b;
}

/* Comomon */
.article-nav-list--crew {
  gap: 1.6rem;
}
.article-nav-link--crew {
  background-color: #ffff;
  opacity: 0.17436291;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.article-nav-link--crew.active {
  opacity: 1;
}
.article-nav-link--crew.active::after {
  display: none;
}
.destination-figure-caption {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.destination-figure header {
  gap: 3.2rem;
}
