@font-face {
  font-family: "Barlow";
  src: url(starter-code/assets/fonts/Barlow/Barlow-Light.ttf);
}
@font-face {
  font-family: "Barlow-Condensed";
  src: local("Trickster"),
    url("starter-code/assets/fonts/Barlow-Condensed/BarlowCondensed-Medium.ttf");
}
@font-face {
  font-family: "Bellefair";
  src: url("starter-code/assets/fonts/Bellefair/Bellefair-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Barlow";
  color: #ffffff;
  overflow: scroll;
}
body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 1.2rem;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mask {
  background-color: rgba(11, 13, 23, 0.5);
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  max-width: 120rem;
  padding-top: 0rem;
  margin: 0 auto;
  padding: 2.4rem;
  flex: 1;
}
.heading-1,
.heading-2,
.heading-3 {
  font-family: "Bellefair";
  font-weight: 400;
}
.heading-1 {
  font-size: 8rem;
  text-transform: uppercase;
  text-align: center;
}
.heading-2 {
  font-size: 5.6rem;
  text-align: center;
  text-transform: uppercase;
}
.heading-3 {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
.heading-5 {
  font-family: "Barlow-Condensed";
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.27rem;
  color: #d0d6f9;
  z-index: -1;
  font-weight: 400;
}
.subheading-1 {
  color: #d0d6f9;
  font-family: "Barlow-Condensed";
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.23625rem;
}
.subheading-2 {
  color: #ffffff;
  font-family: "Bellefair";
  font-size: 2.8rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.body-text {
  color: #d0d6f9;
  font-size: 1.5rem;
  line-height: 1.7;
  font-weight: 400;
  text-align: center;
}
.main-header {
  z-index: 1;
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
}
.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1.8rem 1.4rem;
  width: 100%;
}
.mobile-menu-btn {
  border: none;
  background-color: rgba(240, 248, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-menu-btn:first-child {
  padding: 1.2rem 0;
}
.logo {
  width: 4rem;
}
.nav {
  position: absolute;
  top: 0;
  right: 0;

  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  backdrop-filter: blur(30px);
  transform: translateX(100%);
  transition: 0.3s ease;
  padding: 2.4rem;
  padding-top: 1.8rem;
  gap: 4.8rem;
  font-weight: 400;
  z-index: 1;
}
.nav.visible {
  transform: translateX(0%);
}
.nav img {
  flex: 0 0 1.9rem;
  width: 1.9rem;
}
.nav-list {
  flex: 1 0;
  width: 100%;
  padding-top: 3.2rem;
  padding-right: 6.4rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4.8rem;
}
.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.27rem;
}
.nav-link.active::after,
.article-nav-link.active::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 80%;
  height: 0.163rem;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
}
.nav-link span {
  display: inline-block;
  margin-right: 1.2rem;
  font-weight: 700;
}
.section {
  width: 100%;
}
.section-text-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.btn-cta {
  flex: 0 0 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bellefair";
  background-color: #ffff;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #0b0d17;
  letter-spacing: 0.12rem;
  width: 15rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}
.section--home {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
