/* GENERAL for NAV */
@media (max-width: 767px) {
  body.body-destination {
    background-image: url(starter-code/assets/destination/background-destination-mobile.jpg);
  }
  body.body-crew {
    background-image: url(starter-code/assets/crew/background-crew-mobile.jpg);
  }
  body.body-technology {
    background-image: url(starter-code/assets/technology/background-technology-mobile.jpg);
  }
}
@media (min-width: 767px) {
  body.body-destination {
    background-image: url(starter-code/assets/destination/background-destination-mobile.jpg);
  }
  body.body-crew {
    background-image: url(starter-code/assets/crew/background-crew-mobile.jpg);
  }
  body.body-technology {
    background-image: url(starter-code/assets/technology/background-technology-mobile.jpg);
  }
}
/* GENERAL for NAV */
@media (min-width: 767px) {
  .mobile-menu-btn {
    display: none;
  }
  .main-header {
    height: 10rem;
  }
  .main-header .container {
    padding: 0;
    max-width: 100%;
    height: 100%;
  }
  .container {
    padding: 8rem 4.6rem;
  }
  .logo {
    margin-left: 3.2rem;
  }
  .nav {
    padding: 0;
    position: static;
    flex: 0 0 30%;
    height: 100%;
    transform: translate(0, 0);
    background: rgba(255, 255, 255, 0.04);
  }
  .nav-list {
    flex-direction: row;
    align-items: center;
    padding-left: 4rem;
    padding-right: 2.4rem;
    height: 100%;
  }
  .nav-item {
    height: 100%;
  }
  .nav-link {
    display: inline-block;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.23625rem;
    position: relative;
  }
  .nav-link.active::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 80%;
    height: 0.163rem;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
  }
}
/* ***************************************************************************** */
/* TABLET */
/* ***************************************************************************** */
@media (min-width: 767px) and (max-width: 1199px) {
  body.body-destination {
    background-image: url(starter-code/assets/destination/background-destination-tablet.jpg);
  }
  body.body-crew {
    background-image: url(starter-code/assets/crew/background-crew-tablet.jpg);
  }
  body.body-technology {
    background-image: url(starter-code/assets/technology/background-technology-tablet.jpg);
  }
}
@media (min-width: 767px) {
  body.body-destination {
    background-image: url(starter-code/assets/destination/background-destination-tablet.jpg);
  }
  body.body-crew {
    background-image: url(starter-code/assets/crew/background-crew-tablet.jpg);
  }
  body.body-technology {
    background-image: url(starter-code/assets/technology/background-technology-tablet.jpg);
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .nav-link span {
    display: none;
  }
  .heading-1 {
    font-family: Bellefair;
    font-size: 15rem;
    font-weight: 400;
    line-height: 1;
  }
  .heading-2 {
    font-size: 8rem;
    font-weight: 400;
    text-align: center;
  }
  .heading-5 {
    font-family: "Barlow-Condensed";
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.3375rem;
  }
  .subheading-1 {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.23625rem;
  }
  .subheading-2 {
    font-size: 2.8rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }
  .body-text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2;
    text-align: center;
    padding: 0 20%;
  }
  .btn-cta {
    font-size: 3.2rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    width: 24.2rem;
    height: 24.2rem;
    margin-top: 18rem;
  }
  /* HOME */
  .section-text-container {
    gap: 2.4rem;
  }
  /* ARTICLE */
  .heading-article {
    text-align: left;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3375rem;
  }
  .article-details {
    flex-direction: row;
    position: relative;
  }
  .article-details::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .article-detail {
    flex: 1;
  }
  .article-nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.27rem;
  }
  .article-figure {
    gap: 3.2rem;
  }
  .article-figure-caption .body-text {
    padding: 0 10%;
  }
  /* TECHNOLOGY */
  .full-width-img {
    transform: scaleX(1.1);
    width: 100vw;
    height: auto;
  }
}
/* ***************************************************************************** */
/* DESKTOP */
/* ***************************************************************************** */
@media (min-width: 1199px) {
  body.body-destination {
    background-image: url(starter-code/assets/destination/background-destination-desktop.jpg);
  }
  body.body-crew {
    background-image: url(starter-code/assets/crew/background-crew-desktop.jpg);
  }
  body.body-technology {
    background-image: url(starter-code/assets/technology/background-technology-desktop.jpg);
  }
}
@media (min-width: 767px) {
  body.body-destination {
    background-image: url(starter-code/assets/destination/background-destination-desktop.jpg);
  }
  body.body-crew {
    background-image: url(starter-code/assets/crew/background-crew-desktop.jpg);
  }
  body.body-technology {
    background-image: url(starter-code/assets/technology/background-technology-desktop.jpg);
  }
}
@media (min-width: 1199px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12rem;
  }
  .section--home {
    flex-direction: row;
    height: 60vh;
    align-items: flex-end;
  }
  .section-text-container {
    flex: 0 0 49rem;
  }
  .btn-cta {
    flex: 0 0 27.4rem;
    height: 27.4rem;
    font-size: 3.2rem;
    margin: 0;
    margin-left: auto;
  }
  .heading-1,
  .heading-2,
  .heading-5,
  .body-text {
    text-align: left;
  }
  .heading-1 {
    font-size: 15rem;
  }
  .heading-2 {
    font-size: 10rem;
  }
  .heading-5 {
    font-size: 2.8rem;
  }
  .body-text {
    font-size: 1.8rem;
    text-align: left;
    line-height: 3.2rem;
  }
  .nav {
    flex: 0 0 60%;
    position: relative;
    align-items: flex-start;
  }
  .nav::before {
    content: "";
    display: inline-block;
    height: 0.1rem;
    width: 55%;
    background-color: #ffffff;
    opacity: 0.2514852;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateX(-95%);
  }
  .nav-list {
    padding-left: 12.8rem;
  }
  .nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.27rem;
  }
  /* ARTICLE */
  .heading-article {
    font-size: 2.8rem;
    text-align: left;
  }
  .article-figure,
  .article-details {
    flex-direction: row;
  }
  .article-img-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .article-img {
    margin: 0;
    width: 44.5rem;
  }
  .article-text-section {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.8rem;
  }
  .article-nav {
    width: 100%;
  }
  .article-nav-link {
    font-size: 1.8rem;
  }
  .article-figure header {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .article-details {
    position: relative;
    justify-content: start;
    text-align: left;
    gap: 3rem;
    width: 100%;
  }
  .article-details::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .article-detail {
    flex: 1 0;
    align-items: flex-start;
  }
}
