/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.article-img-container {
  border-bottom: none;
}
.article-img-container::after {
  display: none;
}
.article-nav-item--technology {
  -webkit-box-shadow: inset 0 0 0 1px #ffff;
  box-shadow: inset 0 0 0 1px #ffff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.article-nav-link.active::after,
.article-nav-link---technology::after {
  display: none;
}
.article-nav-item--technology.active {
  background-color: #ffff;
}
.article-nav-item--technology .article-nav-link:link,
.article-nav-item--technology .article-nav-link:visited {
  text-align: center;
  color: #ffff;
  width: 100%;
}
.article-nav-item--technology.active .article-nav-link:link,
.article-nav-item--technology.active .article-nav-link:visited {
  color: #0b0d17;
}
@media (min-width: 767px) and (max-width: 1339px) {
  .article-nav-item--technology {
    width: 6rem;
    height: 6rem;
  }
  .article-nav-item--technology .article-nav-link {
    font-size: 2.4rem;
  }
}
